DATABASE_URL="postgresql://postgres:postgres@localhost:5432/user_management?schema=public"

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

PORT=3001
NODE_ENV=development

JWT_SECRET=uma_senha_muito_forte
JWT_ENCRYPTION_SECRET=chave_32_bytes_criptografada_123!
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

LOG_LEVEL=debug

CORS_ORIGIN=http://localhost:3001
